@model MolinaTextileSystem.Models.CategoryModel

@{
    ViewData["Title"] = "Edición de Categoría";
}

<h1 style="text-align:center">Edición de Categoría</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" onsubmit="return confirmAction();">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <input asp-for="CategoryId" type="hidden" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryName" class="form-label">Nombre de Categoría</label>
                    <input asp-for="CategoryName" type="text" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryDescription" class="form-label">Descripción</label>
                    <input asp-for="CategoryDescription" type="text" class="form-control" />
                    <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />

                    <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de editar esta categoría?')) {
                return true;
            } else {
                window.location.href = '@Url.Action("Index", "Category")';
                return false;
            }
        }
    </script>
}
