@model MolinaTextileSystem.Models.PatternModel

@{
    ViewData["Title"] = "Edición de Patron";
}

<h1 style="text-align:center">Edición de Categoría</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" onsubmit="return confirmAction();">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <input asp-for="PatternId" hidden class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="PatternName" class="control-label"></label>
                    <input asp-for="PatternName" class="form-control" />
                    <span asp-validation-for="PatternName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PatternDescription" class="control-label"></label>
                    <input asp-for="PatternDescription" class="form-control" />
                    <span asp-validation-for="PatternDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />

                    <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
