@model CustomerModel

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div style="text-align: center;">
    <h1>Eliminar Cliente</h1>
    <h3>¿Está seguro que desea eliminar?</h3>

    <div style="margin: 0 auto; width: fit-content;">
        <table style="text-align: justify; border-collapse: separate; border-spacing: 0 8px;">
            <tbody>
                <tr>
                    <th style="padding-bottom: 8px;">
                        Cliente ID
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerId)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        Cliente
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerName)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        Dirección
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerAddress)
                    </td>
                </tr>
                <tr>
                    <th style="padding-bottom: 8px;">
                        Telefono
                    </th>
                    <td style="padding: 0px 0px 8px 10px;">
                        @Html.DisplayFor(model => model.CustomerPhone)
                    </td>
                </tr>
            </tbody>
        </table>

        <form asp-action="Delete">
            <input asp-for="CustomerId" type="hidden" class="form-control" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Regresar al listado</a>
        </form>
    </div>
</div>

