@model CustomerModel

@{
    ViewData["Title"] = "Edición de Credenciales";
}

<h1 style="text-align:center">Edición de cliente</h1>
<hr />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" onsubmit="return confirmAction();">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <input asp-for="CustomerId" type="hidden" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="CustomerName" class="form-label">Cliente</label>
                    <input asp-for="CustomerName" type="text" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CustomerAddress" class="form-label">Dirección</label>
                    <input asp-for="CustomerAddress" type="text" class="form-control" />
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CustomerPhone" class="form-label">Telefono</label>
                    <input asp-for="CustomerPhone" type="text" class="form-control" />
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />

                    <a asp-action="Index" class="btn btn-danger">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de editar este cliente?')) {
                return true;
            } else {
                window.location.href = '@Url.Action("Index", "Customer")';
                return false;
            }
        }
    </script>
}
